.swal2-popup {
  font-family: "Roboto", sans-serif;
}

.swal2-title {
  color: #000000;
}

.swal2-content {
  color: #000000;
}

.swal2-confirm {
  color: #ffffff !important;
}

.swal2-cancel {
  color: #ffffff !important;
}
