.light-theme .v-icon,
.light-theme .v-btn__content {
  color: white !important;
}

.font-weight-normal {
  font-weight: normal;
}

.swal2-popup {
  font-family: "Roboto", sans-serif;
}

.swal2-title {
  color: #000000;
}

.swal2-content {
  color: #000000;
}

.swal2-confirm,
.swal2-cancel {
  color: #ffffff !important;
  border-radius: 5px;
}

.swal2-confirm {
  background-color: var(--primary-color) !important;
}

.swal2-cancel {
  background-color: var(--secondary-color) !important;
}

.action-button,
.edit-button,
.delete-button {
  border-radius: 5px !important;;
  color: #ffffff !important;
  text-transform: none !important;
  margin: 5px;
}

.edit-button {
  background-color: var(--primary-color) !important;
}

.delete-button {
  background-color: var(--secondary-color) !important;
}

.edit-icon,
.delete-icon {
  color: var(--primary-color) !important;

}

.container-color {
  background-color: rgba(90, 131, 244, 0.05);

}

.my-drawer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.footer {
  flex-shrink: 0;
}